services:
  desktop:
    image: accetto/ubuntu-vnc-xfce-g3
    container_name: remote-desktop
    network_mode: host
    environment:
      - VNC_PW=${REMOTE_PASSWORD}
      - VNC_RESOLUTION=1280x720
    restart: always
